

body, html {
    height: 100%;
    margin: 0px;
    text-align: center;
}

header, footer {
    background-color: #ff0000;
    padding: 10px;
    text-align: center;
    
}

p {
    margin-left: 200px;
    margin-right: 200px;
    text-align: start;
}

li {
    list-style: none;;
    text-align: start;
    margin-left: 200px;
    margin-right: 200px;
}
.titulo {
    display: flex;
    justify-content: center;
}

.imagemRa {
    text-align: center;
}

.imagemRa img {
    text-align: center;
    height: 480px;
    width: 640px;
}


.imagem {
    text-align: center; 
    height: 500px;
    
}






